{% extends 'base.html' %}
{% block content %}
<style>
    body {
        background-image: url("https://i.pinimg.com/originals/1e/30/12/1e3012c30c3b2dc484b2ba0a2b31bfbf.gif");
    }
    .forecast {
        margin-top: 40px;
    }
    li {
        font-size: 25px;
    }
</style>
        <ul>
            {% for i, j in weather.items %}
                {% for k,l in j.items %}
                    <li> {{k}} - day {{ l }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
        <h3 class="forecast"><a href="{% url 'main' %}">Back</a></h3>
{% endblock %}