{% extends 'base.html' %}
{% block content %}
<style>
    body {
        background-image: url("https://i.pinimg.com/originals/1e/30/12/1e3012c30c3b2dc484b2ba0a2b31bfbf.gif");
    }
    .forecast {
        margin-top: 40px;
    }
    li {
        font-size: 23px;
        margin-bottom: 10px;
    }



    @media only screen and (max-width: 600px) {
        .main {
            background-color: #B0EBAA;
            width: 350px;
            height: 600px;
            padding: 30px 50px;
            border-radius: 10px;
            opacity: 0.8;
        }
        li {
            margin-bottom: 15px;
            font-size: 12px;
            list-style-type: none;
            font-weight: bolder;
        }
        ul {
            margin-top: 20px;
            position: absolute;
            left: 50px;

        }
        .forecast {
            position: absolute;
            bottom: 600px;
        }
    }
</style>
        <ul>
            {% for i, j in weather.items %}
                {% for k,l in j.items %}
                    <li> {{k}} - day {{ l }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
        <h3 class="forecast"><a href="{% url 'main' %}">Back</a></h3>
{% endblock %}