{% extends 'base.html' %}

{% block content %}
    <style>
        .forecast {
            margin-top: 70px;
        }

    @media only screen and (max-width: 600px) {
        .main {
            background-color: #B0EBAA;
            width: 350px;
            height: 600px;
            padding: 30px 50px;
            border-radius: 10px;
            opacity: 0.8;
        }
    }
    </style>



    {% if today == "heavy intensity rain" or today == "light intensity shower rain" or today == "shower rain" or today == "rain"%}
        <style>
            body{
                background-image: url("https://wallpaper.dog/large/17201458.jpg");
            }
        </style>



    {% elif today == "few clouds" or today == "broken clouds" or today == "scattered clouds"%}
        <style>
            body{
                background-image: url("https://ec.europa.eu/research-and-innovation/sites/default/files/hm/field/image/clouds-mf.jpg");
            }
        </style>


    {% elif today == "clear sky" %}
        <style>
            body{
                background-image: url("https://media.istockphoto.com/photos/clear-blue-sky-background-picture-id508544168?b=1&k=20&m=508544168&s=170667a&w=0&h=WOYrVNi63gep7VdTc3mc9mbYCWoJ9_hraSqnAf5-9TU=");
            }
        </style>
    {% elif "rain" in today %}
        <style>
            body {
                background-image: url("https://img2.goodfon.ru/wallpaper/nbig/3/1b/wallpaper-anime-rain-dozhd.jpg");
            }
        </style>
    {% else %}
        <style>
            body{
                background-image: url("https://animesher.com/orig/1/105/1051/10519/animesher.com_japanese-animation-weather-1051998.gif");
            }
        </style>





    {% endif %}


    {% for item, value in info.items %}
        <h5>{{ item }} : {{ value }}</h5>
    {% endfor %}
    {{ main_ip }}
    {{ today }}
    <h3 class="forecast"><a href="{% url 'forecast' %}">8 Days Forecast</a></h3>
{% endblock content %}