.main_h1 {
    color: #506B4D;
}


.main {
    background-color: #B0EBAA;
    width: 600px;
    height: 600px;
    padding: 30px 50px;
    border-radius: 10px;
    opacity: 0.8;
}
.main_p {
    color: #336B2D;
    font-weight: bolder;
    font-size: 19px;
}

.main_link {
    font-size: 24px;
    text-align: center;
    color: #B0C7AA;
    transition: transform .4s ease-in-out;
}

.main_link a {
    color: #717e6c;
    transition: all .4s ease-in-out;
    text-decoration: none;
}


.main_link:hover {
    transform: scale(1.1);
    color: #717e6c;
}
.main_link a:hover{
    color: #717e6c;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 100vh;
    width: 100%;
    -webkit-background-size: cover;
    background-size: cover;

    background-image: url("http://photos.demandstudios.com/getty/article/176/161/547033564.jpg");
    background-repeat: no-repeat;
    background-position: center;

}

.lili {
    font-size: 10px;
}


@media only screen and (max-width: 600px) {
.main {
    background-color: #B0EBAA;
    width: 350px;
    height: 600px;
    padding: 30px 50px;
    border-radius: 10px;
    opacity: 0.8;
}
}